<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Android Q -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        tools:targetApi="31">
        <!-- 修复1: 移除 application 级别的主题设置 -->

        <!-- MapActivity 声明 -->
        <activity
            android:name=".GPSActivity"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.Map_sdk"> <!-- 修复2: 在 Activity 级别设置专用主题 -->
            <!-- 修复3: 添加 intent-filter 确保 Activity 可被启动 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>